.news-app {
  width: clamp(35rem, 90cqi, 100rem);
  height: 90vh;
  background-color: var(--light);
  border: 0.1rem solid var(--dark);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  row-gap: 2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.news-header {
  width: 100%;
  height: 7rem;
  background-color: var(--blue);
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0.1rem solid var(--dark);
  display: flex;
  align-items: center;
  padding: 0 2rem; 
}

.logo {
  font-size: 5rem;
  
  color: var(--light);
  letter-spacing: 0.2rem;
}

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 16rem);
  padding: 0 2rem;
}

.navbar {
  width: 20%;
  height: 100%;
  background-color: var(--grey-d);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  border-radius: 0.5rem;
  padding: 2rem;
}

.categories {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;;
}

.nav-heading {
  font-size: 3rem;
  color: var(--light);
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--light);
  text-transform: uppercase;
}

.news-section {
  width: 80%;
}

.headline img {
  width: 40rem;
}

.news-grid-item img {
  width: 20rem;
}