.news-app {
  width: clamp(35rem, 90cqi, 100rem);
  height: 90vh;
  background-color: var(--primary-light);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  row-gap: 2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: var(--primary);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  
}

.logo {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--light);
}

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 16rem);
  padding: 0 2rem;
}

.headline img {
  width: 40rem;
}

.news-grid-item img {
  width: 20rem;
}

@media (max-width: 1400px) {
  .logo {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {

}

@media (max-width: 500px) {

}