.news-app {
  width: clamp(35rem, 90cqi, 100rem);
  height: 90vh;
  background-color: var(--primary-light);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  row-gap: 2rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: var(--primary);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  padding: 0 2rem; 
}

.logo {
  font-family: 'Caveat', cursive;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--light);
}

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 16rem);
  padding: 0 2rem;
}

.navbar {
  width: 20%;
  height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  border-radius: 1rem;
  padding: 2rem;
}

.categories {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav-heading {
  font-size: 3rem;
  color: var(--light);
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.nav-link {
  font-size: 1.5rem;
  color: var(--light);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.news-section {
  width: 80%;
}

.headline img {
  width: 40rem;
}

.news-grid-item img {
  width: 20rem;
}

@media (max-width: 1400px) {
  .logo {
    font-size: 3.5rem;
  }
  .categories {
    row-gap: 2rem;
  }
  .news-section {
    overflow: hidden;
  }
}

@media (max-width: 900px) {
  .news-content {
    flex-direction: column;
    width: 100%;
    row-gap: 2rem;
  }
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 15rem;
    row-gap: 0;
  }
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-link {
    margin-right: 2rem;;
  }
  .news-section {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 20rem;
  }
}