@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap');

:root {
  --main-font: 'Smooch Sans', sans-serif;
  --logo-font: 'Amatic SC', sans-serif;
  --dark: #333;
  --blue-dark: #196bde;
  --blue-light: #e9f3ff;
  --yellow-light: #ffffc8;
  --grey-light: #eee;
  --box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.2);
  --border-radius: 0.3rem;
  --rem-1: 1rem;
  --rem-2: 2rem;
  --rem-4: 4rem;
  --rem-5: 5rem;
  --letter-spacing: 0.1rem;
}

* {
  font-family: var(--main-font);
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--grey-light);
  display: grid;
  place-items: center;
}

.news-blog-app {
  width: 95vw;
  height: 95vmin;
  background-color: var(--yellow-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.news {
  font-size: var(--rem-2);
  color: var(--dark);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--rem-2);
}

.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: var(--blue-light);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--rem-4);
}

.logo {
  font-family: var(--logo-font);
  font-size: var(--rem-4);
  color: var(--blue-dark);
  letter-spacing: var(--letter-spacing);
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 25rem;
  height: var(--rem-4);
  color: var(--dark);
  background-color: var(--yellow-light);
  border: none;
  border-radius: var(--border-radius);
  padding: 0 var(--rem-4) 0 var(--rem-2);
  transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  background-color: transparent;
  color: var(--dark);
  border: none;
  position: absolute;
  top: 50%;
  right: var(--rem-1);
  transform: translateY(-30%);
}

.news-content {
  display: flex;
  column-gap: var(--rem-2);
  height: calc(100% - 16rem);
  padding: 0 var(--rem-2);
}

.navbar {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--rem-2);
}

.bg-box {
  background-color: var(--blue-light);
  border-radius: var(--border-radius);
}

.user {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--rem-1);
  cursor: pointer;
} 

.user img {
  width: 5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.user p {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: var(--letter-spacing);
}

.categories {
  width: 100%;
  height: calc(80% - var(--rem-2));
  display: flex;
  flex-direction: column;
  row-gap: var(--rem-2);
  padding: var(--rem-2);
}

.nav-heading {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2.5cqi, 3rem);
  color: var(--dark);
  letter-spacing: var(--letter-spacing);
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: var(--rem-1);
}

.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  color: var(--dark);
  transition: color 0.5s ease-in-out;
}

.nav-link:hover {
  color: var(--blue-dark);
}

.news-section {
  width: clamp(30rem, 43cqi, 40%);
  height: 100%;
  border-radius: var(--border-radius);
}

.headline {
  width: 100%;
  height: calc(50% - var(--rem-2));
  margin-bottom: var(--rem-2);
}

.news-grid {
  width: 100%;
  height: 50%;
}

.my-blogs {
  width: clamp(20rem, 27cqi, 28%);
  height: 100%;
}

.news-footer {
  width: 100%;
  min-height: var(--rem-5);
  background-color: var(--blue-light); 
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.weather-calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: var(--rem-2);
}

.weather,
.calendar {
  width: 100%;
  min-width: 28rem;
}

.weather {
  height: 45%;
}

.calendar {
  height: calc(55% - var(--rem-2));
}

@media (max-width: 1400px) {
  .logo {
    font-size: 3.5rem;
  }
  .categories {
    row-gap: var(--rem-2);
  }
  .news-section {
    overflow: hidden;
  } 
}

@media (max-width: 900px) {
  .logo {
    font-size: 3rem;
  }
  .user {
    color: var(--blue-dark);
    background-color: transparent;
  }
  .user img {
    display: none;
  }  
  .user p {
    font-size: var(--rem-2);
    font-weight: 400;
  }
  .news-content {
    flex-direction: column;
    width: 100%;
    row-gap: var(--rem-2);
  }
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 15rem;
    row-gap: 0;
  }
  .categories {
    background-color: transparent;
    text-align: center;
  }
  .nav-links {  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .nav-heading {
    color: var(--blue-dark);
    font-size: var(--rem-2);
    font-weight: 400;
  }
  .nav-link {
    margin-right: var(--rem-2);
    font-size: 1.8rem;
  }
  .news-section {
    width: 100%;
  }
  .search-bar input:focus {
    width: 30rem;
  }
}

@media (max-width: 860px) {
  .categories {
    margin-bottom: var(--rem-2);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
  .navbar {
    height: 20rem;
  }
  footer {
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--rem-1);
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}