@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

:root {
  --pink: #f2dfce;
  --light: #fff1e0;
  --dark: #111;
  --grey-l: #ccc;  
  --grey-m: #888;
  --grey-d: #333;
  --blue: #0d7680;
}

.container {
  width: 100%;
  height: 100vh;
  background: var(--pink);
  display: grid;
  place-items: center; 
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}